<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        header {
            display: flex;
            justify-content: space-around;
        }
        .card {
            margin: 10px;
            width: 400px;
        }
        .container-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .box {
            border: solid 1px rgb(168, 160, 160);
            position: relative;
            width: 500px;
            padding: 50px;
            margin: 10px auto;
            background-color: #fff;
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        }

        .box:before,
        .box:after {
            position: absolute;
            width: 40%;
            height: 10px;
            content: ' ';
            left: 12px;
            bottom: 12px;
            background: transparent;
            -webkit-transform: skew(-5deg) rotate(-5deg);
            -moz-transform: skew(-5deg) rotate(-5deg);
            -ms-transform: skew(-5deg) rotate(-5deg);
            -o-transform: skew(-5deg) rotate(-5deg);
            transform: skew(-5deg) rotate(-5deg);
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            z-index: -1;
        }

        .box:after {
            left: auto;
            right: 12px;
            -webkit-transform: skew(5deg) rotate(5deg);
            -moz-transform: skew(5deg) rotate(5deg);
            -ms-transform: skew(5deg) rotate(5deg);
            -o-transform: skew(5deg) rotate(5deg);
            transform: skew(5deg) rotate(5deg);
        }

        .box h1 {
            margin: 0 0 10px 0;
            padding: 0 0 10px 0;
            border-bottom: 1px solid #D8D8D8;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: normal;
        }

        .box intro {
            display: block;
            font-style: italic;
            color: #666;
            font-size: 13px;
            font-weight: bold;
        }

        .box content p {
            font-size: 13px;
            text-align: left;
        }
    </style>
    <title>{{user.username}} blog</title>
</head>

<body>
    <a href="{{path_for('index')}}">back to index</a>
    <header>
        
        <h1>Articles of {{user.username}} </h1>
    </header>
    <section class="container-row">
        {% for article in articles %}
        <div class="box">
            <h1>{{article.title}}</h1>
            <article>
                <content>
                    <p>{{article.content}}</p>
                    <p>{{article.date | date('j-m-Y H:i:s',"Europe/Paris")}}</p>
                </content>
            </article>
        </div> 
        {% endfor %}
    </section>

</body>

</html>